WebSiteAirlines/App_WebReferences/Airlines/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="airline_list">
        <s:complexType />
      </s:element>
      <s:element name="airline_listResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="airline_listResult" type="tns:ArrayOfAirline2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAirline2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Airline2" nillable="true" type="tns:Airline2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Airline2">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id_airline" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_aviones" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="rutas" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="create_airline_sp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numero_aviones" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="rutas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="create_airline_spResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="create_airline_spResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_airline_sp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_airline" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numero_aviones" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="rutas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_airline_spResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="update_airline_spResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_airline_sp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_airline" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_airline_spResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delete_airline_spResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pilots_list">
        <s:complexType />
      </s:element>
      <s:element name="pilots_listResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pilots_listResult" type="tns:ArrayOfPilots2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPilots2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pilots2" nillable="true" type="tns:Pilots2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pilots2">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id_pilot" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="salario" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="comision" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="fecha_ingreso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cargo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="horas_vuelo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="id_airline" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="create_pilot_sp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="salario" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="comision" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_ingreso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cargo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="horas_vuelo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_airline" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="create_pilot_spResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="create_pilot_spResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_pilot_sp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_pilot" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="salario" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="comision" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_ingreso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cargo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="horas_vuelo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_airline" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_pilot_spResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="update_pilot_spResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_pilot_sp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_pilot" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_pilot_spResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delete_pilot_spResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="airline_listSoapIn">
    <wsdl:part name="parameters" element="tns:airline_list" />
  </wsdl:message>
  <wsdl:message name="airline_listSoapOut">
    <wsdl:part name="parameters" element="tns:airline_listResponse" />
  </wsdl:message>
  <wsdl:message name="create_airline_spSoapIn">
    <wsdl:part name="parameters" element="tns:create_airline_sp" />
  </wsdl:message>
  <wsdl:message name="create_airline_spSoapOut">
    <wsdl:part name="parameters" element="tns:create_airline_spResponse" />
  </wsdl:message>
  <wsdl:message name="update_airline_spSoapIn">
    <wsdl:part name="parameters" element="tns:update_airline_sp" />
  </wsdl:message>
  <wsdl:message name="update_airline_spSoapOut">
    <wsdl:part name="parameters" element="tns:update_airline_spResponse" />
  </wsdl:message>
  <wsdl:message name="delete_airline_spSoapIn">
    <wsdl:part name="parameters" element="tns:delete_airline_sp" />
  </wsdl:message>
  <wsdl:message name="delete_airline_spSoapOut">
    <wsdl:part name="parameters" element="tns:delete_airline_spResponse" />
  </wsdl:message>
  <wsdl:message name="pilots_listSoapIn">
    <wsdl:part name="parameters" element="tns:pilots_list" />
  </wsdl:message>
  <wsdl:message name="pilots_listSoapOut">
    <wsdl:part name="parameters" element="tns:pilots_listResponse" />
  </wsdl:message>
  <wsdl:message name="create_pilot_spSoapIn">
    <wsdl:part name="parameters" element="tns:create_pilot_sp" />
  </wsdl:message>
  <wsdl:message name="create_pilot_spSoapOut">
    <wsdl:part name="parameters" element="tns:create_pilot_spResponse" />
  </wsdl:message>
  <wsdl:message name="update_pilot_spSoapIn">
    <wsdl:part name="parameters" element="tns:update_pilot_sp" />
  </wsdl:message>
  <wsdl:message name="update_pilot_spSoapOut">
    <wsdl:part name="parameters" element="tns:update_pilot_spResponse" />
  </wsdl:message>
  <wsdl:message name="delete_pilot_spSoapIn">
    <wsdl:part name="parameters" element="tns:delete_pilot_sp" />
  </wsdl:message>
  <wsdl:message name="delete_pilot_spSoapOut">
    <wsdl:part name="parameters" element="tns:delete_pilot_spResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="airline_list">
      <wsdl:input message="tns:airline_listSoapIn" />
      <wsdl:output message="tns:airline_listSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="create_airline_sp">
      <wsdl:input message="tns:create_airline_spSoapIn" />
      <wsdl:output message="tns:create_airline_spSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update_airline_sp">
      <wsdl:input message="tns:update_airline_spSoapIn" />
      <wsdl:output message="tns:update_airline_spSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete_airline_sp">
      <wsdl:input message="tns:delete_airline_spSoapIn" />
      <wsdl:output message="tns:delete_airline_spSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pilots_list">
      <wsdl:input message="tns:pilots_listSoapIn" />
      <wsdl:output message="tns:pilots_listSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="create_pilot_sp">
      <wsdl:input message="tns:create_pilot_spSoapIn" />
      <wsdl:output message="tns:create_pilot_spSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update_pilot_sp">
      <wsdl:input message="tns:update_pilot_spSoapIn" />
      <wsdl:output message="tns:update_pilot_spSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete_pilot_sp">
      <wsdl:input message="tns:delete_pilot_spSoapIn" />
      <wsdl:output message="tns:delete_pilot_spSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="airline_list">
      <soap:operation soapAction="http://tempuri.org/airline_list" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_airline_sp">
      <soap:operation soapAction="http://tempuri.org/create_airline_sp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_airline_sp">
      <soap:operation soapAction="http://tempuri.org/update_airline_sp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_airline_sp">
      <soap:operation soapAction="http://tempuri.org/delete_airline_sp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pilots_list">
      <soap:operation soapAction="http://tempuri.org/pilots_list" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_pilot_sp">
      <soap:operation soapAction="http://tempuri.org/create_pilot_sp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_pilot_sp">
      <soap:operation soapAction="http://tempuri.org/update_pilot_sp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_pilot_sp">
      <soap:operation soapAction="http://tempuri.org/delete_pilot_sp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="airline_list">
      <soap12:operation soapAction="http://tempuri.org/airline_list" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_airline_sp">
      <soap12:operation soapAction="http://tempuri.org/create_airline_sp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_airline_sp">
      <soap12:operation soapAction="http://tempuri.org/update_airline_sp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_airline_sp">
      <soap12:operation soapAction="http://tempuri.org/delete_airline_sp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pilots_list">
      <soap12:operation soapAction="http://tempuri.org/pilots_list" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_pilot_sp">
      <soap12:operation soapAction="http://tempuri.org/create_pilot_sp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_pilot_sp">
      <soap12:operation soapAction="http://tempuri.org/update_pilot_sp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_pilot_sp">
      <soap12:operation soapAction="http://tempuri.org/delete_pilot_sp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:14641/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:14641/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>